/**
 * Plugin Name: Add Customer for WooCommerce
 * Style description: Basic style for backend style
 * Author: Dan's Art
 * Author URI: http://dev.dans-art.ch
 */

 /*
 Fixes the display of the checkbox
 */
#wac_add_customer_con{
    clear: both;
    float: left;
    width: 100%;
    margin: 9px 0 0;
    color: #777;
}

#wac_add_customer_con .wac_add_customer_field{
    margin: 0;
}

#wac_add_customer_con .wac_add_customer_notify_field{
    margin-top: 0.5em;
}

