/**
 * Plugin Name: Add Customer for WooCommerce
 * Style description: Basic style for backend style
 * Author: Dan's Art
 * Author URI: http://dev.dans-art.ch
 * Todo: 
 */

 /*
 Fixes the display of the checkbox
 */
#wac_add_customer_con{
    clear: both;
    width: 100%;
    padding-top: 1px;
}